version: '3'
services:
  wowza:
    image: wowzaplayground
    build: .
    expose:
      - 1935/tcp
      - 8086/tcp
      - 8087/tcp
      - 8088/tcp
      - 8089/tcp
    ports:
      - 1935:1935
      - 8086:8086
      - 8087:8087
      - 8088:8088
      - 8089:8089
    env_file:
      - wowza.env
    volumes:
      - ./wowza/content:/usr/local/WowzaStreamingEngine-4.7.7/content
